@use '../node_modules/@rhds/tokens/css/global.css';
@use 'scss/card-override';
@use './scss/banner-override.scss' as banner;
@use './scss/button-override.scss' as button;
@use './scss/file-upload/multiple-file-upload-override.scss' as multiple-file-upload;
@use './scss/file-upload/simple-file-upload-override.scss' as simple-file-upload;
@use './scss/divider-override.scss' as divider;
@use './scss/dragndrop-override.scss' as drag-and-drop;
@use './scss/dual-list-selector-override.scss' as dual-list-selector;
@use './scss/form-control-override.scss' as form-control;
@use './scss/hint-override.scss' as hint;
@use './scss/label-override.scss' as label;
@use './scss/alert-override.scss' as alert;
@use './scss/accordion-override.scss' as accordion;
@use './scss/card-override.scss' as card;
@use './scss/expandable-section-override.scss' as expandable-section;
@use './scss/navigation-override.scss' as naviagtion;
@use './scss/notification-badge-override.scss' as notification-badge;
@use './scss/number-input-override.scss' as number-input;
@use './scss/pagination-override.scss' as pagination;
@use './scss/popover-override.scss' as popover;
@use './scss/skeleton-override.scss' as skeleton;
@use './scss/modal-override.scss' as modal;


$root-variables: banner.$banner, button.$button, multiple-file-upload.$multiple-file-upload, divider.$divider, dual-list-selector.$dual-list-selector, form-control.$form-control, alert.$alert, accordion.$accordion, card.$card, expandable-section.$expandable-section, pagination.$pagination, popover.$popover, skeleton.$skeleton, modal.$modal;

:root {
    // Loop through all the variables and inject them into the :root selector
    @each $variables in $root-variables{
      @each $key, $value in $variables {
        #{$key}: #{$value};
      }
    }
  }
