$card: (
  // --pf-t--global--border--radius--300:  var(--rh-border-radius-default, 3px) commented to avoid style leakage
);

.pf-v6-c-card {
    --pf-v6-c-card--BorderRadius:  var(--rh-border-radius-default, 3px);
    --pf-v6-c-card--BorderColor: none;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
}

.pf-v6-c-card__selectable-actions :is(.pf-v6-c-check__input, .pf-v6-c-radio__input):where(:disabled) ~ :is(.pf-v6-c-check__label, .pf-v6-c-radio__label), .pf-v6-c-card.pf-m-disabled  {
  --pf-v6-c-card--BackgroundColor: #fafafa;
  --pf-v6-c-card--BorderColor: #d2d2d2;
}

.pf-v6-c-card.pf-m-selectable:hover {
  --pf-v6-c-card--m-selectable--hover--BorderColor: none;
}

.pf-v6-c-card__selectable-actions :is(.pf-v6-c-check__label, .pf-v6-c-radio__label, .pf-v6-c-card__clickable-action):hover {
  --pf-v6-c-card--m-clickable--hover--BorderColor: none;
  --pf-v6-c-card--BackgroundColor: #f0f0f0;
}

.pf-v6-c-card__selectable-actions :is(.pf-v6-c-check__input, .pf-v6-c-radio__input):where(:checked) ~ :is(.pf-v6-c-radio__label, .pf-v6-c-check__label), .pf-v6-c-card.pf-m-selected {
  --pf-v6-c-card--m-selectable--BorderWidth: var(--pf-t--global--border--width--100, 1px);
}

.pf-v6-c-card.pf-m-clickable:hover {
  --pf-v6-c-card--m-selectable--hover--BorderColor: none;
}

.pf-v6-c-card.pf-m-selectable.pf-m-clickable .pf-v6-c-card__selectable-actions :is(.pf-v6-c-check__input, .pf-v6-c-radio__input):where(:disabled) ~ :is(.pf-v6-c-check__label, .pf-v6-c-radio__label), .pf-v6-c-card.pf-m-selectable.pf-m-clickable.pf-m-disabled {
  --pf-v6-c-card--BackgroundColor: #fafafa;
}

.pf-v6-c-button.pf-m-link.pf-m-inline {
  --pf-v6-c-button--disabled--Color: var(--pf-t--color--gray--60, #4d4d4d);
  --pf-v6-c-button--TextDecorationLine: none;
}

.pf-v6-c-card.pf-m-selectable.pf-m-clickable.pf-m-current {
    --pf-v6-c-card--BorderWidth: var(--pf-t--global--border--width--100, 1px);
}
