@use './mixins.scss' as *;

.pf-v6-c-form-control{
  @include border-radius(v6, form-control, var(--rh-border-radius-sharp, 0.0px));
  --pf-v6-c-form-control--before--BorderStyle: none;
  border: 1px solid;
  border-color: #f0f0f0 #f0f0f0 #8a8d90 #f0f0f0;
}

.pf-v6-c-menu-toggle {
  @include border-radius(v6, menu-toggle, var(--rh-border-radius-sharp, 0.0px));
  --pf-v6-c-menu-toggle--BorderColor: transparent;
  border: 1px solid;
  border-color: #f0f0f0 #f0f0f0 #8a8d90 #f0f0f0;
}
