$popover: (
        --pf-t--global--border--radius--300:  var(--rh-border-radius-sharp, 0)
);
.pf-v6-c-popover__content{
  --pf-v6-c-popover__content--BorderRadius:  var(--rh-border-radius-sharp, 0);
}
